node_modules
.svelte-kit
build
dist
.firebase
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*

# Temporary project files
.tmp/
tmp/

# Hide secrets files
.secrets/

# Hide firebase cli log file
firebase-debug.log
firestore-debug.log

# Hide agents skills
.agents/**
.claude/**
.continue/**
.firebase/**
.junie/**
.vibe/**